################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/.vscode
/Cryptogr.0aa386e2.tlog
/x64/Debug
/vcpkg.applocal.log
/vc143.pdb
/vc143.idb
/Testing.obj
/CryptographyTesting.vcxproj.user
/CryptographyTesting.vcxproj.filters
/CryptographyTesting.vcxproj.FileListAbsolute.txt
/CryptographyTesting.vcxproj
/CryptographyTesting.sln
/CryptographyTesting.pdb
/CryptographyTesting.log
/CryptographyTesting.ilk
/CryptographyTesting.exe.recipe
/CryptographyTesting.exe
/CryptographyTesting.Build.CppClean.log
/color_info_sorted_2d.ipp
/Debug
/linear_gradient.ipp
/Base-Title.obj
/FilesForTesting/CryptographyTesting.vcxproj.FileListAbsolute.txt
/FilesForTesting/CryptographyTesting.pdb
/FilesForTesting/CryptographyTesting.log
/FilesForTesting/CryptographyTesting.ilk
/FilesForTesting/CryptographyTesting.exe.recipe
/FilesForTesting/CryptographyTesting.exe
/FilesForTesting/Cryptogr.0aa386e2.tlog/link.write.1.tlog
/FilesForTesting/Cryptogr.0aa386e2.tlog/link.read.1.tlog
/FilesForTesting/Cryptogr.0aa386e2.tlog/link.command.1.tlog
/FilesForTesting/Cryptogr.0aa386e2.tlog/CryptographyTesting.lastbuildstate
/FilesForTesting/Cryptogr.0aa386e2.tlog/CL.write.1.tlog
/FilesForTesting/Cryptogr.0aa386e2.tlog/CL.read.1.tlog
/FilesForTesting/Cryptogr.0aa386e2.tlog/CL.command.1.tlog
/FilesForTesting/Cryptogr.0aa386e2.tlog
/FilesForTesting/Base-Title.obj
/FilesForTesting/vcpkg.applocal.log
/FilesForTesting/vc143.pdb
/FilesForTesting/vc143.idb
/FilesForTesting/CryptographyTesting.Build.CppClean.log
/FilesForTesting/base-title.obj.enc
/FilesForTesting/QuickSearch.obj
/FilesForTesting/quicksearch.new.obj.enc
/FilesForTesting/QuickSearch.nativecodeanalysis.xml
/FilesForTesting/QuickSearch.nativecodeanalysis.sarif
/FilesForTesting/CodeAnalysisResultManifest.txt
/FilesForTesting/Base-Title.nativecodeanalysis.xml
/FilesForTesting/Base-Title.nativecodeanalysis.sarif
/QuickSearch.obj
/enc_temp_folder/b92fa4191ce717be44abcd925070d9ee/QuickSearch.cpp
/quicksearch.new.obj.enc
/base-title.obj.enc
